{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}模板页{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="sidebar">
        <h2>我的博客</h2>
        <p>This is my blog. There are {% total_posts %} posts in the blog</p>
        <p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>
        <h3>最新的帖子</h3>
        {% show_latest_post 2 %}
        <h3>最多的评论</h3>
        {% most_comments_post as most_comments %}
        <ul>
        {% for post in most_comments %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

    </div>
</body>
</html>

